body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 60px;
  margin: 0;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.weblinkimg {
  height: 65px;
  margin: 10px;
  width: 65px;
}

h2 {
  font-family: "Rock Salt", cursive;
  padding-bottom: 10px;
  text-align: center;
}

p {
  font-size: 26px;
}

a {
  color: black;
}

.galleries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 90vw;
}

.galleryimg {
  border: 4px black solid;
  height: 60vh;
  margin-bottom: 10px;
  object-fit: cover;
  width: 30%;
}

.galleryimg:hover {
  border: unset;
  height: unset;
  max-height: 60vh;
  max-width: 30vw;
  object-fit: contain;
  transform: scale(1.4);
  width: unset;
}

#contactme {
  padding: 0;
}

#soon {
  text-align: center;
}

.atwlinks {
  text-align: center;
}

/* start contact */
#contact {
  margin: auto;
  width: 83%;
}

.form-group {
  font-size: 18px;
}

form {
  margin: auto;
  width: 90%;
}

#form {
  float: left;
  text-align: left;
}

/* form placeholder color */
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
nput:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: slategrey !important;
}

#contact-text {
  float: right;
  font-size: 18px;
  margin-right: 20px;
  max-width: 580px;
}

.row {
  margin: 0;
}

input,
textarea {
  background: transparent;
  border-bottom: 2px solid #ccc;
  border: none;
  font-size: 18px;
  width: 100%;
}

input:hover,
textarea:hover {
  border-bottom: 2px solid slategrey;
}

label {
  font-weight: 300;
  max-width: 100%;
  width: 100%;
}

#submit {
  border-radius: 5px;
  border: solid 2px grey;
  color: slategrey;
  font-size: 18px;
  width: 30%;
}

#submit:hover {
  background-color: slategrey;
  color: white;
}

#submitp {
  text-align: center;
}

/* end contact */
footer {
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  h1 {
    margin: auto;
  }

  #navlinks {
    margin: auto;
  }
}

@media only screen and (max-width: 700px) {
  .galleries {
    flex-direction: column;
  }

  .galleryimg {
    margin: 10px auto;
    max-width: 700px;
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .weblinkimg {
    height: 55px;
    margin: 5px;
    width: 55px;
  }
}

@media only screen and (max-width: 440px) {
  h1 {
    font-size: 45px;
    margin-top: 10px;
  }

  .weblinkimg {
    height: 35px;
    margin: 15px 3px 0 3px;
    width: 35px;
  }

  #about {
    text-align: center;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 38px;
  }
}